body {
	background-color: rgb(237, 238, 240);
	font-family: sans-serif;
}

figure{
  line-height: 0;
  text-align: center;
}

.text-main{
	text-indent: 20px;
}

figcaption{
	font-size: 18px;
}

hr {
  width: 100%;
}

.flexbox_main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	margin-left: 13%;
	margin-right: 13%;
}


#header{
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 9px;
	align-items: stretch;
	margin-bottom: 80px;
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-size: 23px;
}

#footer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-size: 18px;
}

.link-footer{
	display: flex;
	flex-direction: row;
}

