.text-main{
	text-indent: 20px;
}

.link-footer{
	display: inline-block;
}

#header{
	margin-bottom: 80px;
	margin-left: 13%;
	margin-right: 13%;
	padding:9px;
}

#main {
	margin-left: 13%;
	margin-right: 13%;
	font-size: 23px;
}

#footer {
	margin-left: 13%;
	margin-right: 13%;
	font-size: 18px;
}

.sub_form > textarea {
    width: 100%;
    font-size: 23px;
    border-radius: 5px;
}

.sub_form > .error {
    font-size: 18px;
    color: red;
}
